# Project exclude paths
/ProjectForAccountSystemDomain/target/
/ProjectForAccountSystemLogic/target/
/ProjectForAccountSystemRepository/target/
/ProjectForAccountSystemSpringBoot/target/
/ProjectForAccountSystemTranslator/target/