<configuration scan = "true" ScanPeriod="30 seconds">
    <property name="LOG_DIR" value="/NUW/A Directory for the logback intellij/log_output"/>

    <appender name ="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <files>${LOG_DIG}/AccountSystems.log</files>
        <encoder class ="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>{"date" : "%d{dd-MM-yyyy HH:mm:ss.$$$}","level","%-5level","class" : "logger{36}"," log" : %msg}%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>${LOG_DIG}/AccountSystems.%d{yyyy-MM-dd_HH}.%i.log.gz</fileNamePattern>
            <maxFileSize>41KB</maxFileSize>
            <maxHistory>2</maxHistory>
            <totalSizeCap>50KB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%highlight(%d{yyyy/MM/dd HH:mm:ss} [%-5level] %logger@%line -> %msg) %n</Pattern>
        </encoder>
    </appender>

    <!--3rd party-->
    <logger name="java" level="WARN"/>
    <logger name="javax" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>


    <!--your apps loggers-->
    <logger name="za.ac.nwu.ac" level="DEBUG"/>
    <root level="WARN">
        <appender-ref ref="ROLLING_FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>